body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #d8e1f1, #cbe8df, #eadee0, #d8e1f1);
    /* Warna pastel */
    min-height: 100vh;
    /* Pastikan background menutupi seluruh layar */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


hr {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

#title {
    font-size: 6vw;
    /* Responsif dengan vw (viewport width) */
    font-weight: bold;
    letter-spacing: 2px;
    justify-content: center;
    text-align: center;
}

p {
    font-size: 4vw;
}

#board {
    display: grid;
    gap: 5px;
    width: 100%;
    max-width: 600px;
    /* Batas maksimal lebar board */
    margin: 10px auto;
    padding: 10px;
    justify-content: center;
}

.tile {
    border: 2px solid burlywood;
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
    height: 10vw;
    /* Responsif, berdasarkan lebar viewport */
    width: 10vw;
    /* Tile width responsif */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    /* Responsif */
    font-weight: bold;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}

.keyboard-row {
    width: 400px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid burlywood;
    background-color: whitesmoke;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid burlywood;
    background-color: whitesmoke;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin {
    margin-right: 0px;
    margin-left: 0px;
}

/* Media query untuk layar lebih besar */
@media (min-width: 768px) {
    #title {
        font-size: 36px;
    }

    p {
        font-size: 18px;
    }

    .margin {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 600px) {

    .tile {
        height: 8vw;
        width: 8vw;
        font-size: 3vw;
    }

    .margin {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Media query untuk layar besar (desktop) */
@media (min-width: 768px) {


    .tile {
        height: 60px;
        width: 60px;
        font-size: 36px;
    }

}